@page
@using System.Security.Claims;
@using Microsoft.Extensions.Options
@using PMS.UI.Options
@inject IOptions<AppSettings> appSettings

@model PMS.UI.Pages.Users.ProfileModel
@{
	ViewData["Title"] = "User Prifile";
	var apiEndpoint = appSettings.Value.ApiEndpoint;
	var pageSize = appSettings.Value.DefaultPageSize;
	var email = User.FindFirst(ClaimTypes.Email)?.Value;
	var fullName = User.FindFirst(ClaimTypes.Name)?.Value;
	var role = User.FindFirst(ClaimTypes.Role)?.Value;

}

@section HeadBlock {
	<link href="~/lib/select2/css/select2.min.css" rel="stylesheet" />
}

<div class="page-header">
	<div class="page-title">
		<h4>@ViewData["Title"]</h4>
	</div>
</div>

<input name="__RequestVerificationToken" type="hidden" value="@HttpContext.Session.GetString("API_Token")">

<input type="hidden" id="redirectToListing" value="@Url.Page("#")" />

<div class="row">
	<div class="col-md-4">
		<form method="post" id="frmChangePassword">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<div class="form-group">
				<label class="control-label">Email</label>
				<input class="form-control user-email" value="@email" disabled />
			</div>

			<div class="form-group">
				<label class="control-label">Full Name</label>
				<input class="form-control user-email" value="@fullName" disabled />
			</div>

			<div class="form-group">
				<label class="control-label">User Role</label>
				<input class="form-control user-email" value="@role" disabled />
			</div>

		</form>
	</div>
</div>

@section ScriptsBlock {
	<partial name="_ValidationScriptsPartial" />
	<script src="~/js/user.js" asp-append-version="true"></script>

	<script type="text/javascript">
		$('a[href="/Users/Profile"]').addClass('active');

		debugger
		$(document).ready(function () {
		});
		$(function () {
		});

		// save
		var apiEndpoint = '@apiEndpoint';


		// function goBack() {
		// 	$("#goIndex")[0].click();
		// }

	</script>

}


